@model IEnumerable<PortfolioGB.Models.Contact>

@{
    ViewBag.Title = "Contact";
}

@foreach (var item in Model) {
    
    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
     
    <p class="bold">@Html.DisplayNameFor(model => model.Address)</p>
    <p>@Html.DisplayFor(modelItem => item.Address)</p>
    <p>@Html.DisplayFor(modelItem => item.Zip)</p>

    <p class="bold">@Html.DisplayNameFor(model => model.Email)</p>
    <p>@Html.DisplayFor(modelItem => item.Email)</p>
    
    <p class="bold">@Html.DisplayNameFor(model => model.Phone)</p>
    <p>@Html.DisplayFor(modelItem => item.Phone)</p>
    
    if (Request.IsAuthenticated)
    {
        <p>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </p>
    }
}

@if (Request.IsAuthenticated)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
