@model PortfolioGB.Models.Portfolio
@using PortfolioGB.Models;

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Portfolio</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.About)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.About)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Link)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Link)
        </dd>

        @if (Model.FilePaths.Any(f => f.FileType == FileType.Photo))
        {
            <dt>
                Photo
            </dt>
            <dd>
                <img src="~/images/@Model.FilePaths.First(f => f.FileType == FileType.Photo)).FileName" alt="" />
            </dd>
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
