@model IEnumerable<PortfolioGB.Models.Portfolio>
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Work";
}

<h2>Index</h2>
@if (Request.IsAuthenticated)
{
 <p>
    @Html.ActionLink("Create New", "Create")
 </p>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.About)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Link)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Image)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.About)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Link)
        </td>
        <td>
            <img src="@Html.DisplayFor(modelItem => item.Image)" height="200" />
        </td>
        @if(Request.IsAuthenticated)
        {
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        }
    </tr>
}

</table>
